<div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="navigation-offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">[brand_name]</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="sidebar-menu position-static">
      <%= render 'backend/sidebar_menu' %>
    </div>
  </div>
</div>
